<div class="container-fluid">
  <div class="row max-content mb-3 align-items-center">
    <div class="col-12 mt-4">
      <h1 class="smaller-size-mobile mb-0 mt-0">My favorites</h1>
    </div>
  </div>

  <table class="table table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Crest/logo</th>
        <th>Competition details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let favorite of favorites; let i = index">
        <td>
          {{ i + 1 }}
        </td>
        <td>
          <strong>{{ favorite.name }}</strong>
        </td>
        <td>
          <span class="text-nowrap">
            {{ favorite.crest }}
          </span>
        </td>
        <td>
          <span class="mr-2">
            {{ favorite.competitionDetails }}
          </span>
        </td>
      </tr>
      <!--tr *ngIf="users.length == 0" class="no-hover">
              <td colspan="10"><admin-no-content></admin-no-content></td>
            </tr-->
    </tbody>
  </table>
</div>
